body{
    font-family: "Open Sans", sans-serif;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;} 
.CONTAINER {
    background-image: url("https://files.porsche.com/filestore/image/multimedia/none/carrange-flyout-911/small/3cf76e8c-6694-11e9-80c4-005056bbdc38;sQ;twebp;c1696;gc/porsche-small.webp%22);
    background-color: white;
    padding: 400px ;
}

.groomer {
font-weight: bold;
color: white;
font-size: 30px;

}
.baka {
font-weight: bold;
color: white;
margin-top:10px;
font-size: 30px;
}
.image {
margin-top: 30px;
}
.button {
    font-size: 20px;
    padding: 10px 20px;
    border:white;
    background-color: white;
  }
  .button2 {
    font-size: 20px;
    padding: 13px 20px;
    border: white;
  }